<app-switcher
  [currentMonthYearFormatted]="currentMonthYearFormatted"
  (dateChanged)="switchMonth($event)"
></app-switcher>
<div class="month">
  <div class="names">
    <div *ngFor="let name of daysOfWeek">
      <app-day [isDayOfWeek]="true" [dayName]="name"></app-day>
    </div>
  </div>
  <ng-container *ngIf="!isLoading; else loadingBox">
    <div class="week" *ngFor="let week of weeks">
      <div class="days">
        <div class="day" *ngFor="let day of week.days">
          <app-day
            [currentDate]="currentMonthYear"
            [day]="day.num"
            [dayName]="day.name"
            [gradeMark]="day.grade"
          ></app-day>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingBox>
    <div class="loading-container">
      <div class="spinner"></div>
      <h1>{{ randomPhrase }}</h1>
    </div>
  </ng-template>
</div>
